<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/admin/main-layout::main-fragment(  
                ~{::title},
                ~{:: #products-static-resources},
                ~{:: #home-nav},
                ~{:: #products-main-content},  
                ~{:: #resources-footer},
               )}">
<head>
<title>Quản lý loại tin</title>
<th:block id="products-static-resources"></th:block>
</head>
<body>
  <th:block id="products-main-content">
    <!-- Open modal -->
    <div onclick="onCloseModal()" id="add_new" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 10px;" class="btn btn-success btn-icon-split">
      <span class="icon text-white-50"> <i class="fas fa-plus"></i>
      </span> <span class="text">Thêm mới</span>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách loại tin</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên loại tin</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
                <th>Độ ưu tiên</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="content_data">
            </tbody>
          </table>
          <div style="text-align: center; margin-top: 5px;">
            <button onclick="loadData(null)" class="btn btn-light btn-icon-split">
              <span class="icon text-gray-600"> <i class="fas fa-arrow-right"></i>
              </span> <span class="text">Tải thêm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" onclick="onCloseModal();" id="title_modal">Thêm mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="col s12">
              <input id="indexUpdate" type="hidden" />
              <div class="form-group">
                <label for="exampleInputEmail1">Tên loại tin</label> <input type="text" class="form-control" id="name" placeholder="Nhập loại tin"> <small style="color: red;"
                  id="validate_name" class="form-text text-muted validate"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Mô tả</label> <input type="text" class="form-control" id="description" placeholder="Nhập mô tả cho loại tin"> <small style="color: red;"
                  id="validate_description" class="form-text text-muted validate"></small>
              </div>
              <div class="form-group">
                <label for="price">Giá tiền</label> <input type="number" class="form-control" id="price" placeholder="Nhập giá tiền"> <small style="color: red;" id="validate_price"
                  class="form-text text-muted validate"></small>
              </div>
              <div class="form-group">
                <label for="douutien">Độ ưu tiên</label> <input type="text" class="form-control" id="level" placeholder="Nhập độ ưu tiên"> <small style="color: red;" id="validate_level"
                  class="form-text text-muted validate"></small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button onclick="onCloseModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button id="confirm_save" type="button" class="btn btn-primary">Lưu</button>
          </div>
        </div>
      </div>
    </div>
    <!-- keep page number for load more item -->
    <input id="page" type="hidden" value="1" />
  </th:block>
  <th:block id="resources-footer">
    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>
    <script id="my-template" type="x-tmpl-mustache">
      <tr id="content_id_{{id}}">
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{level}}</td>
        <td>
           <a href="#" onclick="onUpdate($(this));" class="btn btn-info btn-circle btn-sm">
            <i class="fas fa-edit"></i>
           </a>
          <a href="#" onclick="onDelete($(this), '{{id}}', '{{name}}');" class="btn btn-danger btn-circle btn-sm">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    </script>
    <script>
      let tmpl = $('#my-template').html();
      Mustache.parse(tmpl);
    
      $(document).ready(function() {
        var modal = $('#modal1').modal();
        loadData(0);

        // open modal
        $("#add_new").click(function() {
          $("#title_modal").html("Thêm mới");
        });

        // Add item
        $("#confirm_save").click(function(){
          var data = {
            name: $("#name").val(),
            description: $("#description").val(),
            price: $("#price").val(),
            level: $("#level").val(),
          }

          $(".validate").empty();
          var updateId = $("#indexUpdate").val();
          
          if (updateId && updateId.length > 0) {
            update(data, updateId);
          } else {
            save(data);
          }
        });
      });
      
      function loadData(page) {
        // load data
        if (page == null) {
          page = $("#page").val();
        }

        ajaxRequest("./newstype/get/" + page, "GET", null, function(data) {
            data.forEach((item) => {
              	item.price = Number((parseFloat(item.price)).toFixed(1)).toLocaleString() + " VND";
                let rendered = Mustache.render(tmpl, item);
                $("#content_data").append(rendered);
            });

            $("#page").val(parseInt(page) + 1);
        }); 
      }

      function save(data) {
        ajaxRequest("./newstype/save", "POST", JSON.stringify(data), function(response) {
          if (response.status == true) {
            onCloseModal();

            var item = response.data;
            	item.price = Number((parseFloat(item.price)).toFixed(1)).toLocaleString() + " VND";
                let rendered = Mustache.render(tmpl, item);

                $("#content_data").prepend(rendered);
                alert("Thêm thành công.")
                $('#exampleModal').modal('hide')
            return;
          }

          // display error
          for (const key in response.data) {
            $("#" + key).append(response.data[key]);
          }
        });
      }

      function update(data, id) {
        ajaxRequest("./newstype/update/" + id, "PUT", JSON.stringify(data), function(response) {
          if (response.status == true) {
            var item = response.data;
              item.price = Number((parseFloat(item.price)).toFixed(1)).toLocaleString() + " VND";
              var row = $("#content_id_" + item.id);
              row.find("td").eq(1).html(item.name);
              row.find("td").eq(2).html(item.description);
              row.find("td").eq(3).html(item.price);
              row.find("td").eq(4).html(item.level);

              alert("Cập nhật thành công.");
              $('#exampleModal').modal('hide');
            return;
          }

          // display error
          for (const key in response.data) {
            $("#" + key).append(response.data[key]);
          }
        });
      }

      function onDelete(obj, key, name) {
        var r = confirm("Xác nhận xóa [" + name + "]");

        if (r == true) {
          ajaxRequest("./newstype/delete/" + key, "DELETE", null, function(data) {
            obj.parents("tr").remove();
            alert("Xóa thành công.")
          });
        }
      }
      
      function onUpdate(obj){
        var id = obj.parents("tr").find("td")[0].textContent;
        $("#title_modal").html("Cập nhật");
        
        ajaxRequest("./newstype/get/one/" + id, "GET", null, function(data) {
          // set value into form
          $("#indexUpdate").val(id);
          $("#name").val(data.name);
          $("#description").val(data.description);
          $("#price").val(data.price);
          $("#level").val(data.level);
          $('#exampleModal').modal('show');
        });
      }
      
      function ajaxRequest(url, method, data, calBackFuntion) {
        var config = {
          method : method,
          url : url,
          context : document.body,
        };

        if (data) {
          config.data = data;
          config.contentType = "application/json; charset=utf-8";
        }

        $.ajax(config).done(function(data) {
          calBackFuntion(data);
        });
      }

      function onCloseModal() {
        $("input").val("");
      }
    </script>
  </th:block>
</body>
</html>